# Ignore Cargo-specific files
/target/
/Cargo.lock

# Ignore Rust-specific files
**/*.rs.bk
**/*.rs.swp
**/*.rs.swo

# Ignore build artifacts
**/*.d
**/*.o
**/*.so
**/*.rlib
**/*.a
**/*.dylib
**/*.dll
**/*.exe

# Ignore IDE-specific files
.idea/
.vscode/
*.iml